run = "cd client && npm install && npm run build && cd .. && node server/index.js"
hidden = [".config", "package-lock.json"]
entrypoint = "index.js"

# Show the client UI by default, Express serves server/public/index.html

[nix]
channel = "stable-22_11"

[env]
PORT = "3000"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true

[languages]

[languages.javascript]
pattern = "**/*.js"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[unitTest]
language = "nodejs"

[deployment]
run = ["npm", "start"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000
